<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="">
    <script src=""></script>
</head>
<body style="background-color: yellow;">

    <h1><strong> Welcome to iCurrent site </strong></h1>

    <button type="submit"> <a href="/signup"> SignUp </a>  </button>
    <button type="submit"> <a href="/signin"> SignIn </a> </button>
    <button type="submit"> <a href="/signout"> SignOut </a> </button>
    
</body>
</html>