<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body style="background-color: yellow;">
    


    <div style="background-color: rgb(185, 219, 18); width: 250px; margin-top: 75px; margin-left: 120px;
    border-radius: 20px; border-width: 20px; border-color: red; border-style: groove; padding: 10px 0px 10px 0px;">
        <h1 style="font-family: cursive; text-align: center;"> <b>Sign Up</b> </h1>
        <form action="" method="POST" style="text-align: center;">

            <label for=""> Firstname </label>
            <br>
            <input type="text" id="fname" name="fname" placeholder="Enter your first name" required>
            <br><br>
    
            <label for=""> Lastname </label>
            <br>
            <input type="text" id="lname" name="lname" placeholder="Enter your last name" required>
            <br><br>
    
            <label for=""> Username </label>
            <br>
            <input type="text" id="username" name="username" placeholder="Enter a username" required>
            <br><br>
    
            <label for=""> Email </label>
            <br>
            <input type="email" id="email" name="emaii" placeholder="Fill in your emial address" >
            <br><br>
    
            <label for=""> Password </label>
            <br>
            <input type="password" id="pass1" name="pass1" placeholder="Enter a username" required>
            <br><br>

            <br>
            <input style="color:black; background-color: whitesmoke;" type="submit" >
    
        </form>

    </div>
 
</body>
</html>